<%- include('./partials/header') -%>

<div class="container">
  <h1>Compose</h1>
  <form action="/compose" method="post">
    <div class="mb-0">
      <label class="form-label" for="">Title</label>
      <input class="form-control" type="text" name="postTitle" />
    </div>

    <div class="mb-0">
      <label class="form-label" for="">Post</label>
      <textarea class="form-control customInput" type="text" name="postBody"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" name="button">Publish</button>
  </form>
</div>

<%- include('./partials/footer') -%>
